Click==7.0
Pillow==5.4.1
dataclasses==0.6
janus==0.4.0
numpy==1.16.1
opencv-python==4.0.0.21
pyserial==3.4
readerwriterlock==1.0.3
sounddevice==0.3.13
# ujson支持序列化bytes
# 不能用内置json代替
ujson==1.35
websockets==7.0


Kivy==1.10.1; sys_platform == 'win32'
Pygments==2.3.1; sys_platform == 'win32'
docutils==0.14; sys_platform == 'win32'
kivy.deps.glew==0.1.10; sys_platform == 'win32'
kivy.deps.sdl2==0.1.18; sys_platform == 'win32'
pypiwin32==223; sys_platform == 'win32'
