Click==7.0
Kivy==1.10.1
Pillow==5.4.1
Pygments==2.3.1
dataclasses==0.6
docutils==0.14
janus==0.4.0
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
numpy==1.16.1
opencv-python==4.0.0.21
pypiwin32==223
pyserial==3.4
readerwriterlock==1.0.3
sounddevice==0.3.13
# ujson支持序列化bytes
# 不能用内置json代替
ujson==1.35
websockets==7.0
